.carousel {
    margin: 0 auto;
    width: 100%;
    height: 33.333vh;
    display: flex;
    overflow: hidden;
}

.carousel::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 20s infinite linear;
}

.carousel:nth-child(2) .group {
    animation: spin 30s infinite linear;
}

.carousel:nth-child(3) .group {
    animation: spin 15s infinite linear;
    animation-delay: -15s;
}

.card {
    flex: 0 0 6em;
    height: 100%;
    padding: 0;
    font-size: 3rem;
    border-radius: 0;
    text-align: center;
    align-content: center;
    border: 1px solid black;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}